<!doctype html>
<html>
  <head>
    <title>Weather Information</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Weather Information</h1>

    <!-- Check if weather data is available -->
   
      <h2>Current Weather in <%= weather.name %></h2>
      <p>Temperature: <%= weather.main.temp %>°C</p>
      <p>Humidity: <%= weather.main.humidity %>%</p>
      <p>Wind Speed: <%= weather.wind.speed %> m/s</p>
<img src="http://openweathermap.org/img/w/<%= weather.weather[0].icon %>.png" alt="Weather icon">

      <form action ="/weather" method = "get">
        <label for="city">Enter city name:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Submit</button>
      </form>
    

  </body>
</html>
